---
date: 2017-03-27T09:23:56+02:00
title: "Introducing brotools"
tags: [R]
menu:
  main:
    parent: Blog
    identifier: /blog/intro_brotools
    weight: 2
---

<!-- BLOGDOWN-HEAD -->
<!-- /BLOGDOWN-HEAD -->

<!-- BLOGDOWN-BODY-BEFORE -->
<!-- /BLOGDOWN-BODY-BEFORE -->
<p>I’m happy to announce my first R package, called <code>brotools</code>. This is a package that contains functions that are specific to my needs but that you might find also useful. I blogged about some of these functions, so if you follow my blog you might already be familiar with some of them. It is not on CRAN and might very well never be. The code is hosted on <a href="https://bitbucket.org/b-rodrigues/brotools">bitbucket</a> and you can install the package with</p>
<pre class="r"><code>devtools::install_bitbucket(&quot;b-rodrigues/brotools&quot;)</code></pre>
<p>Hope you’ll find the <code>brotools</code> useful!</p>
