---
date: 2017-03-24T12:00:00+01:00
title: "Lesser known purrr tricks"
tags: [R]
menu:
  main:
    parent: Blog
    identifier: /blog/lesserknownpurrr
    weight: 2
---

<!-- BLOGDOWN-HEAD -->
<!-- /BLOGDOWN-HEAD -->

<!-- BLOGDOWN-BODY-BEFORE -->
<!-- /BLOGDOWN-BODY-BEFORE -->
<p><code>purrr</code> is a package that extends R’s functional programming capabilities. It brings a lot of new stuff to the table and in this post I show you some of the most useful (at least to me) functions included in <code>purrr</code>.</p>
<div id="getting-rid-of-loops-with-map" class="section level2">
<h2>Getting rid of loops with <code>map()</code></h2>
<pre class="r"><code>library(purrr)

numbers &lt;- list(11, 12, 13, 14)

map_dbl(numbers, sqrt)</code></pre>
<pre><code>## [1] 3.316625 3.464102 3.605551 3.741657</code></pre>
<p>You might wonder why this might be preferred to a for loop? It’s a lot less verbose, and you do not need to initialise any kind of structure to hold the result. If you google “create empty list in R” you will see that this is very common. However, with the <code>map()</code> family of functions, there is no need for an initial structure. <code>map_dbl()</code> returns an atomic list of real numbers, but if you use <code>map()</code> you will get a list back. Try them all out!</p>
</div>
<div id="map-conditionally" class="section level2">
<h2>Map conditionally</h2>
<div id="map_if" class="section level4">
<h4>map_if()</h4>
<pre class="r"><code># Create a helper function that returns TRUE if a number is even
is_even &lt;- function(x){
  !as.logical(x %% 2)
}

map_if(numbers, is_even, sqrt)</code></pre>
<pre><code>## [[1]]
## [1] 11
## 
## [[2]]
## [1] 3.464102
## 
## [[3]]
## [1] 13
## 
## [[4]]
## [1] 3.741657</code></pre>
</div>
<div id="map_at" class="section level4">
<h4>map_at()</h4>
<pre class="r"><code>map_at(numbers, c(1,3), sqrt)</code></pre>
<pre><code>## [[1]]
## [1] 3.316625
## 
## [[2]]
## [1] 12
## 
## [[3]]
## [1] 3.605551
## 
## [[4]]
## [1] 14</code></pre>
<p><code>map_if()</code> and <code>map_at()</code> have a further argument than <code>map()</code>; in the case of <code>map_if()</code>, a predicate function ( a function that returns <code>TRUE</code> or <code>FALSE</code>) and a vector of positions for <code>map_at()</code>. This allows you to map your function only when certain conditions are met, which is also something that a lot of people google for.</p>
</div>
</div>
<div id="map-a-function-with-multiple-arguments" class="section level2">
<h2>Map a function with multiple arguments</h2>
<pre class="r"><code>numbers2 &lt;- list(1, 2, 3, 4)

map2(numbers, numbers2, `+`)</code></pre>
<pre><code>## [[1]]
## [1] 12
## 
## [[2]]
## [1] 14
## 
## [[3]]
## [1] 16
## 
## [[4]]
## [1] 18</code></pre>
<p>You can map two lists to a function which takes two arguments using <code>map_2()</code>. You can even map an arbitrary number of lists to any function using <code>pmap()</code>.</p>
<p>By the way, try this in: <code>`+`(1,3)</code> and see what happens.</p>
</div>
<div id="dont-stop-execution-of-your-function-if-something-goes-wrong" class="section level2">
<h2>Don’t stop execution of your function if something goes wrong</h2>
<pre class="r"><code>possible_sqrt &lt;- possibly(sqrt, otherwise = NA_real_)

numbers_with_error &lt;- list(1, 2, 3, &quot;spam&quot;, 4)

map(numbers_with_error, possible_sqrt)</code></pre>
<pre><code>## [[1]]
## [1] 1
## 
## [[2]]
## [1] 1.414214
## 
## [[3]]
## [1] 1.732051
## 
## [[4]]
## [1] NA
## 
## [[5]]
## [1] 2</code></pre>
<p>Another very common issue is to keep running your loop even when something goes wrong. In most cases the loop simply stops at the error, but you would like it to continue and see where it failed. Try to google “skip error in a loop” or some variation of it and you’ll see that a lot of people really just want that. This is possible by combining <code>map()</code> and <code>possibly()</code>. Most solutions involve the use of <code>tryCatch()</code> which I personally do not find very easy to use.</p>
</div>
<div id="dont-stop-execution-of-your-function-if-something-goes-wrong-and-capture-the-error" class="section level2">
<h2>Don’t stop execution of your function if something goes wrong and capture the error</h2>
<pre class="r"><code>safe_sqrt &lt;- safely(sqrt, otherwise = NA_real_)

map(numbers_with_error, safe_sqrt)</code></pre>
<pre><code>## [[1]]
## [[1]]$result
## [1] 1
## 
## [[1]]$error
## NULL
## 
## 
## [[2]]
## [[2]]$result
## [1] 1.414214
## 
## [[2]]$error
## NULL
## 
## 
## [[3]]
## [[3]]$result
## [1] 1.732051
## 
## [[3]]$error
## NULL
## 
## 
## [[4]]
## [[4]]$result
## [1] NA
## 
## [[4]]$error
## &lt;simpleError in .f(...): non-numeric argument to mathematical function&gt;
## 
## 
## [[5]]
## [[5]]$result
## [1] 2
## 
## [[5]]$error
## NULL</code></pre>
<p><code>safely()</code> is very similar to <code>possibly()</code> but it returns a list of lists. An element is thus a list of the result and the accompagnying error message. If there is no error, the error component is <code>NULL</code> if there is an error, it returns the error message.</p>
</div>
<div id="transpose-a-list" class="section level2">
<h2>Transpose a list</h2>
<pre class="r"><code>safe_result_list &lt;- map(numbers_with_error, safe_sqrt)

transpose(safe_result_list)</code></pre>
<pre><code>## $result
## $result[[1]]
## [1] 1
## 
## $result[[2]]
## [1] 1.414214
## 
## $result[[3]]
## [1] 1.732051
## 
## $result[[4]]
## [1] NA
## 
## $result[[5]]
## [1] 2
## 
## 
## $error
## $error[[1]]
## NULL
## 
## $error[[2]]
## NULL
## 
## $error[[3]]
## NULL
## 
## $error[[4]]
## &lt;simpleError in .f(...): non-numeric argument to mathematical function&gt;
## 
## $error[[5]]
## NULL</code></pre>
<p>Here we transposed the above list. This means that we still have a list of lists, but where the first list holds all the results (which you can then access with <code>safe_result_list$result</code>) and the second list holds all the errors (which you can access with <code>safe_result_list$error</code>). This can be quite useful!</p>
</div>
<div id="apply-a-function-to-a-lower-depth-of-a-list" class="section level2">
<h2>Apply a function to a lower depth of a list</h2>
<pre class="r"><code>transposed_list &lt;- transpose(safe_result_list)

transposed_list %&gt;%
    at_depth(2, is_null)</code></pre>
<pre><code>## $result
## $result[[1]]
## [1] FALSE
## 
## $result[[2]]
## [1] FALSE
## 
## $result[[3]]
## [1] FALSE
## 
## $result[[4]]
## [1] FALSE
## 
## $result[[5]]
## [1] FALSE
## 
## 
## $error
## $error[[1]]
## [1] TRUE
## 
## $error[[2]]
## [1] TRUE
## 
## $error[[3]]
## [1] TRUE
## 
## $error[[4]]
## [1] FALSE
## 
## $error[[5]]
## [1] TRUE</code></pre>
<p>Sometimes working with lists of lists can be tricky, especially when we want to apply a function to the sub-lists. This is easily done with <code>at_depth()</code>!</p>
</div>
<div id="set-names-of-list-elements" class="section level2">
<h2>Set names of list elements</h2>
<pre class="r"><code>name_element &lt;- c(&quot;sqrt()&quot;, &quot;ok?&quot;)

set_names(transposed_list, name_element)</code></pre>
<pre><code>## $`sqrt()`
## $`sqrt()`[[1]]
## [1] 1
## 
## $`sqrt()`[[2]]
## [1] 1.414214
## 
## $`sqrt()`[[3]]
## [1] 1.732051
## 
## $`sqrt()`[[4]]
## [1] NA
## 
## $`sqrt()`[[5]]
## [1] 2
## 
## 
## $`ok?`
## $`ok?`[[1]]
## NULL
## 
## $`ok?`[[2]]
## NULL
## 
## $`ok?`[[3]]
## NULL
## 
## $`ok?`[[4]]
## &lt;simpleError in .f(...): non-numeric argument to mathematical function&gt;
## 
## $`ok?`[[5]]
## NULL</code></pre>
</div>
<div id="reduce-a-list-to-a-single-value" class="section level2">
<h2>Reduce a list to a single value</h2>
<pre class="r"><code>reduce(numbers, `*`)</code></pre>
<pre><code>## [1] 24024</code></pre>
<p><code>reduce()</code> applies the function <code>*</code> iteratively to the list of numbers. There’s also <code>accumulate()</code>:</p>
<pre class="r"><code>accumulate(numbers, `*`)</code></pre>
<pre><code>## [1]    11   132  1716 24024</code></pre>
<p>which keeps the intermediary results.</p>
<p>This function is very general, and you can reduce anything:</p>
<p>Matrices:</p>
<pre class="r"><code>mat1 &lt;- matrix(rnorm(10), nrow = 2)
mat2 &lt;- matrix(rnorm(10), nrow = 2)
mat3 &lt;- matrix(rnorm(10), nrow = 2)</code></pre>
<pre class="r"><code>list_mat &lt;- list(mat1, mat2, mat3)

reduce(list_mat, `+`)</code></pre>
<pre><code>##             [,1]       [,2]       [,3]     [,4]      [,5]
## [1,] -2.48530177  1.0110049  0.4450388 1.280802 1.3413979
## [2,]  0.07596679 -0.6872268 -0.6579242 1.615237 0.8231933</code></pre>
<p>even data frames:</p>
<pre class="r"><code>df1 &lt;- as.data.frame(mat1)
df2 &lt;- as.data.frame(mat2)
df3 &lt;- as.data.frame(mat3)

list_df &lt;- list(df1, df2, df3)

reduce(list_df, dplyr::full_join)</code></pre>
<pre><code>## Joining, by = c(&quot;V1&quot;, &quot;V2&quot;, &quot;V3&quot;, &quot;V4&quot;, &quot;V5&quot;)
## Joining, by = c(&quot;V1&quot;, &quot;V2&quot;, &quot;V3&quot;, &quot;V4&quot;, &quot;V5&quot;)</code></pre>
<pre><code>##           V1         V2          V3          V4         V5
## 1 -0.6264538 -0.8356286  0.32950777  0.48742905  0.5757814
## 2  0.1836433  1.5952808 -0.82046838  0.73832471 -0.3053884
## 3 -0.8969145  1.5878453 -0.08025176  0.70795473  1.9844739
## 4  0.1848492 -1.1303757  0.13242028 -0.23969802 -0.1387870
## 5 -0.9619334  0.2587882  0.19578283  0.08541773 -1.2188574
## 6 -0.2925257 -1.1521319  0.03012394  1.11661021  1.2673687</code></pre>
<p>Hope you enjoyed this list of useful functions! If you enjoy the content of my blog, you can follow me on <a href="https://www.twitter.com/brodriguesco">twitter</a>.</p>
</div>
