<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright 2017. <a> {{ .Site.Params.author }}</a> </p>
      <p>Made with the HUGO theme <a href="https://github.com/adejoux/hugo-darkdoc-theme" rel="nofollow">darkdoc</a>.</p>
    </div>
  </div>
</footer>
{{ if isset .Site.Params "Piwik" }}
  {{ partial "piwik" . }}
{{ end }}
</body>
